<h1>Edit Your Profile</h1>
<p>Find me in app/views/users/show.html.erb</p>
<form class="" action="/users/:id/update" method="post">
  <input type="text" name="update[first_`name]" placeholder="<%=  %>">
  <input type="text" name="update[last_name]" placeholder="<%=  %>">
  <input type="text" name="update[email]" placeholder="<%=  %>">
  <input type="submit" name="" value="Update Records">
</form>
